.c-comment-heart{
  transition-duration: .3s;
  border-radius: 20%;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
  height: 24px;
  margin: 0.2rem 1rem -0.5rem;
  background-color: #fff;

  &__image {
    transition-duration: .3s;
    margin: 0 5px;
    path {
      transition-duration: .3s;
    }

    svg {
      margin-top: 5px;
    }
  }

  &__count {
    margin-right: 5px;
  }
}
