.c-idea-url {
  &__btn {
    display:inline-block;
    background-color: #FFFFFF !important;
    color: #000000 !important;
    margin: 0.5rem 1.5rem 0.5rem 0;

    @media (max-width:600px) {
      margin-right: 0.5rem;
    }
  }

  &__icon {
    &.product_url {
      vertical-align: middle;
    }

    &.github_url {
      vertical-align: text-bottom;
    }
  }

  &__label {
    text-transform: none;
  }
}
