= form_with(model: idea) do |form|
  - if idea.errors.any?
    #error_explanation

    h2
      = pluralize(idea.errors.count, "error")
      |  prohibited this idea from being saved:
    ul
      - idea.errors.each do |error|
        li
          = error.full_message
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :icon
    = form.text_field :icon
  .field
    = form.label :note
    = form.text_area :note
  .field
    = form.label :view
    = form.number_field :view
  .actions
    = form.submit
