.p-comment-board {
  min-height: 120px;

  &__title {
    margin-left: 2rem;
  }

  &__item {
    max-width: 80%;
    width: fit-content;

    &.own-comment {
      margin-left: auto;
    }

    @media (max-width:768px) {
      max-width: 95%;
    }
  }
}
