.event-pages {
  &__section {
    margin: 70px 0;
  }

  &__eyecatch {
    font-size: 2rem;

    &--first {
      font-size: 3.5rem;
      color: #FF862E;
    }

    &--second {
      font-size: 3rem;
      color: #D9C2AD;
    }

    &--third {
      font-size: 2.5rem;
      color: #FFBF85;
    }

    &--detail {
      margin-bottom: 40px;
      text-decoration: underline #FF862E;
    }
  }

  &__terms {
    font-size: 2rem;

    &.twitter {
      color: #1B9DF0;
    }
  }
}
