.idea-index{
  .full-pic {
    position: relative;
    min-height: 50vh;
    background: url(idea_main.png)
      center / cover;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);

    .turorial-button {
      margin: 0;
      position: absolute;
      top: calc(60% - 0.5em);
      margin-left: 11rem;
    }

    .new-user-button {
      margin: 0;
      position: absolute;
      top: calc(60% - 0.5em);
      margin-left: 20rem;
    }
  }

  .boad {
    position: relative;
    min-height: 450px;

    .back-color-board {
      min-height: 30vh;
      background: url(background_orange.png)
        center / cover;
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
    }

    .main-board {
      position: absolute;
      top: -1rem;
      width: 100%;
      margin: 2rem;

      .icon-mark {
        background-color: white;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 10%;
        font-size: 24px;
        text-align: center;
        vertical-align: middle;
      }

      .latest-title {
        color: white;
        font-size: 2rem;
        margin: 0 0 10px 20px;
      }
    }
  }
}

.idea-colum-board {
  .row {
    margin-bottom: 0.5rem !important;
  }

  .idea-column {
    margin: 0.5rem 0;
    height: 100%;
    width: 100%;

    .idea-column-body {
      width: 100%;

      .idea-name {
        font-size: large;
      }

      .idea-info {
        display: flex;
        justify-content: space-between;

        .idea-status {
          width: 100%;

        }
        .user-def {
          width: 70px;
        }
      }
    }

    .idea-column-image {
      width: 100%;
      position: relative;
      border-radius: 3%;
      background-color: white;

      .idea-img-boader {
        border: solid 1px;
        border-radius: 3%;

        img {
          object-fit: contain;
          max-height: 90px;
          margin: 0 auto;
        }
      }
    }
  }
}
