.idea-index {
  .carousel {
    height: 20rem !important;
    top: 2rem;

    .carousel-item {
      max-width: 24rem!important;
      width: 24rem !important;

      .idea-column-img {
        position: relative;
        border-radius: 10px;
        transition: all 0.4s ease-in-out;

        img {
          object-fit: contain;
          height: 12rem;
          width: 24rem;
          border-radius: 0.5rem;
        }

        .time-label {
          position: absolute;
          top: 1rem;
          padding: 0 1rem;
          color: white;
          background-color: rgba(191, 191, 191, 0.8);
        }

        &:hover {
          box-shadow: 1px 1px 12px rgba(0,0,0,.65);
        }
      }
    }

    .indicator-item {
      background-color: #FFBF85 !important;
      height: 1rem !important;
      width: 1rem !important;

      &.active {
        background-color: #FF862E !important;
        height: 1.5rem !important;
        width: 1.5rem !important;
      }
    }
  }

  .user-board {
    padding: 1rem 0;
    margin-bottom: 30px;
  }
}
