.idea-show {
  width: 70vw;
  margin: 0 auto;

  .idea-status-column {
    padding: 2rem;

    .idea-name {
      font-size: x-large;
    }
  }

  .idea-column-img {
    margin: 0.5rem 0;
    max-width: 600px;
    border-radius: 3%;
    background-color: white;

    img {
      object-fit: contain;
      max-height: 400px;
      margin: 0 auto;
    }

    .idea-created {
      margin: 1rem 0;
    }
  }

  .idea-content {
    background-color: #F5F5F5;
    padding: 1rem;
    border-radius: 0.5rem;

    .login-guidance {
      justify-content: center;
    }
  }
}

@media (max-width:992px) {
  .idea-show {
    width: 90vw !important;
  }
}

@media (max-width:600px) {
  .idea-show {
    width: 95vw !important;
  }
}

.status-info {
  display: flex;
  margin: 15px 0;
  &__eye {
    display: flex;
  }
  &__comment {
    display: flex;
  }  &__vote {
    border-radius: 5px;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .2);
    transition-duration: .3s;

    &:hover {
      transition-duration: .3s;
      transform: scale(1.05);
    }