.idea-show {
  width: 70vw;
  margin: 0 auto;

  .idea-status-column {
    padding: 2rem;

    .idea-name {
      font-size: x-large;
    }
  }

  .idea-column-img {
    margin: 0.5rem 0;
    max-width: 600px;
    border-radius: 3%;
    background-color: white;

    img {
      object-fit: contain;
      max-height: 400px;
      margin: 0 auto;
    }

    .idea-created {
      margin: 1rem 0;
    }
  }

  .idea-content {
    background-color: #F5F5F5;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}
