.p-notification {
  color: #26a69a;

  &__ul {
    max-height: 650px;
  }

  &__container {
    padding: 0.5rem;
    display: flex;
    flex-wrap: nowrap;
  }

  &__user_icon {
    flex-shrink: 0;
    margin-right: 1rem;
  }

  &__message {

    &__link {
      color: #f57c00;

      &:hover {
        opacity: 0.5;
        transition-duration: .3s;
      }
    }

    &__comment {
      color: #00bfa5;
      font-size: 0.7rem;
    }

    &__date {
      color: #80cbc4;
      font-size: 0.7rem;
    }
  }

  &__index_path {
    text-align: center;
    
    &__link {
      color: #26a69a;

      &:hover {
        opacity: 0.5;
        transition-duration: .3s;
      }
    }
  }

  &__no_message {
    padding: 1rem;
    font-weight: bold;
  }
}
