.p-room {
  width: 70vw;
  margin: 0 auto;

  @media (max-width: 992px) {
    width: 90vw;
  }
  @media (max-width: 600px) {
    width: 95vw;
  }

  &__head {
    min-height: 120px;
    padding: 1rem 2rem;
    display: flex;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      border-bottom: none;
      margin-left: 0;
    }

    &--body {
      margin: 0 2rem;

      @media screen and (max-width: 768px) {
        text-align: center;
        margin: 0 auto;
      }

      &__title {
        font-weight: bold;
        font-size: xx-large;
        margin: 0 0 0.5rem;
      }

      &__team {
        display: flex;
      }
    }
  }

  &__messages {
    min-height: 400px;
    background-color: #FDF8EB;
    padding: 0.5rem 1rem;
  }

  &__input {
    width: 80%;
    margin: 2rem auto;
  }


  &__item {
    max-width: 80%;
    width: fit-content;

    &.own-comment {
      margin-left: auto;
    }

    @media (max-width:768px) {
      max-width: 95%;
    }
  }
}
