.c-comment-description {
    &__prompt {
        cursor: pointer;
        text-decoration: underline;
        color:blue;
    }

    &__compact {
        display:block;
    }

    &__expand {
        display:none;
    }
}
