.c-comment-description {
  min-height: 20px;
  margin: 5px 8px 0 8px;

  &__text {
    &.compact {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }

  &__option {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
    margin: 0.3rem 0 -0.5rem;
  }

  &__action_text {
    .trix-content {
      background-color: white;
    }
  }
}
