.c-nav-var {
  margin-top: 30px;
  background-color: #FFBF85;
  width: fit-content;
  @media (max-width:768px) {
    width: 100%;
  }


  &__content {
    min-width: 340px;
  }

  &__tab {
    background-color: #FFBF85;
    font-weight: bold;
  }
}
