.c-pc-status-info {
  display: flex;
  margin: 15px 0;

  > div {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__eye {
    display: flex;

    img {
      margin-right: 4px;
    }
  }

  &__comment {
    display: flex;

    img {
      margin-right: 4px;
    }
  }

  &__time {
    margin-left: auto;
    margin-bottom: 10px;
  }
}
