.c-unit-comment {
  margin: 0.5rem;
  min-width: 130px;

  &__user {
    min-width: 40px;

    img {
      min-width: 30px;
    }

    &--name {
      color: #C4C4C4;
      font-size: x-small;
      margin-top: 0.3rem;
    }
  }

  &__info {
    min-width: 100px;
    border: solid 2px #E3E4E8;
    border-radius: 0.5rem;
    background-color: white;
    margin: 0px 5px;

    &--description {
      min-height: 20px;
      margin: 5px 8px 0 8px;
    }
  }

  &__options {
    display: flex;
    justify-content: flex-end;
  }

  &__user {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 5px;
    justify-content: space-between;
  }

  &__username {
    margin-right: 50px;
  }
}
