.c-comment-form {
  &__input-area {
    width: 80%;
    margin: 0 auto;

    &--textarea {
      padding: 0.7rem;
      border: solid 1px #E3E4E8;
      min-height: 80px;
    }
  }

  &__btn-area {
    text-align: center;
  }

  &__submit-btn {
    width: 100px;
    border-radius: 3px;
  }
}
