.c-url-copy {
  border: 1px solid #A7A7A7;
  border-radius: 20px;
  cursor: pointer;
  border: none;

  &:hover {
    transition-duration: .3s;
    transform: scale(1.05);
  }

  i {
    font-size: 30px;

    @media (min-width: 600px) {
      margin-top: 0.4rem;
    }

    @media (max-width: 769px) {
      font-size: 28px;
    }
  }

  &__text {
    color: #888;
  }
}
