.p-comment-board {
  min-height: 120px;

  &__title {
    margin-left: 2rem;
  }

  &__item {
    border: solid 1px #E3E4E8;
    border-radius: 0.5rem;
    background-color: white;
    max-width: 80%;
    width: fit-content;
    margin: 10px;

    &.own-comment {
      margin-left: auto;
      background-color: #FFBF85;
    }
  }
}

.p-comment-forms {
  .p-comment-form {
    width: 80%;
    margin: 0 auto;
    .p-comment-area {
      padding: 0.7rem;
      border: solid 1px #E3E4E8;
      min-height: 80px;
    }
  }

  .p-comment-btn {
    text-align: center;
  }

  .p-submit-btn {
    width: 100px;
    border-radius: 3px;
  }
}
