.c-popular-tags {
  padding: 1rem;
  background-color: #F5F5F5;
  margin-bottom: 30px;

  &__board {
    background-color: white;
    margin: 1rem 0.5rem 0.3rem;
    padding: 0.8rem;
  }

  &.idea-tag {
    margin-bottom: 5px;
  }
}
