.c-user-urls {
  display: flex;
  justify-content: space-evenly;

  &__item {
    margin: 0.5rem 0;

    &--icon {
      width: 36px;

      &:hover {
        transition-duration: .3s;
        transform: scale(1.1);
        pointer-events: auto;
        cursor: pointer;
      }

      .icon-body-color {
        fill: #FFFFFF;
      }

      &.gray {
        &:hover {
          pointer-events: none;
        }

        .icon-padding-color {
          fill: #bfbfbf;
        }
      }

      &.twitter_color {
        .icon-padding-color {
          fill: #1B9DF0;
        }
      }

      &.github_color {
        .icon-padding-color {
          fill: #000;
        }
      }
    }
  }
}
