.c-user-icon-info {
  text-align: center;
  align-items: center;
  border: solid 0.2px #C0C0C0;
  border-radius: 0.5rem;

  &__icon {
    margin: 1rem 0;
  }

  &__name {
    margin: 1rem 0;
    font-size: x-large;
  }

  &__created-date {
    margin: 1rem 0;
    color: #C4C4C4;
  }

  &__contributions {
    color: #C4C4C4;
  }

}
