@import "reset";
@import "header";
@import "footer";
@import "ideas";
@import "actiontext";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  position: relative;
}
/*
 *= require_tree .
 *= require_self
 */

