.comment-board {
  min-height: 120px;

  &__title {
    margin-left: 2rem;
  }

  .comment-column {
    border: solid 1px #E3E4E8;
    border-radius: 0.5rem;
    background-color: white;
    max-width: 80%;
    width: fit-content;
    margin: 10px;

    &.own-comment {
      margin-left: auto;
      background-color: #FFBF85;
    }

    .comment-column-inside {
      margin: 0.5rem;
      min-width: 130px;

      .comment-img {
        margin-right: 0.5rem;
      }

      .comment-info {
        max-width: 90%;

        &.white-text {
          max-width: none !important;
        }

        .comment-description {
          min-height: 40px;
        }
      }

      .comment-options {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.comment-forms {
  .comment-form {
    width: 80%;
    margin: 0 auto;
    .comment-area {
      padding: 0.7rem;
      border: solid 1px #E3E4E8;
      min-height: 80px;
    }
  }

  .comment-btn {
    text-align: center;
  }

  .submit-btn {
    width: 100px;
    border-radius: 3px;
  }
}
