.cooperation {
  padding: 2rem;

  h4 {
    font-weight: bold;
  }

  &__idea_img {
    margin: 0 auto;

    img {
      min-width: 300px;
      max-height: 151px;
      object-fit: contain;
      width: 100%;
    }
  }

  &__idea-status {
    justify-content: center;
  }

  &__idea-content {
    background-color: #fff3e0;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem;
  }

  &__btns {
    text-align: center;
  }
}
