footer {
  bottom: 0;
  width: 100%;

  .container {
    width: 100%;
    max-width: 100% !important; // This is a fix for default setting
    min-height: 240px;
    height: 100%;

    .footer-body {
      width: 80vw;
      margin: 0 auto;

      ul {
        width: 100%;

        li {
          list-style: none;
          margin: 0.25rem 0;

          a {
            text-decoration: none;
            transition: all 0.3s ease 0s;

            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
  .copyright {
    max-width: 100%;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
  }

  .footer-logo {
    width: 187px;

    img:hover {
      transition-duration: .4s;
      transform: scale(1.05);
    }
  }

  .footer-share {
    margin-top: 40px;

    &__text {
      padding-bottom: 20px;
      color: #fff;
    }
  }

  .footer-title {
    padding-bottom: 0.5rem;
    color: #fff;
    font-weight: bold;
  }
}
