footer {
  bottom: 0;
  width: 100%;

  .container {
    width: 100%;
    max-width: 100% !important; // This is a fix for default setting
    min-height: 240px;
    height: 100%;

    .footer-body {
      width: 80vw;
      margin: 0 auto;

      .right {
        justify-content: right;
      }

      .left {
        justify-content: left;
        margin-left: auto;
      }

      ul {
        width: 100%;
      }
      li {
        list-style: none;
        a {
          text-decoration: none;
          transition: all 0.3s ease 0s;

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
  .copyright {
    max-width: 100%;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
  }

  .footer-logo {
    width: 187px;

    img:hover {
      transition-duration: .4s;
      transform: scale(1.05);
    }
  }

  img.c-share-box__twitter-share {
    width: 48px;
  }
}
