footer {
  bottom: 0;
  width: 100%;

  .container {
    width: 100%;
    max-width: 100% !important; // This is a fix for default setting
    min-height: 240px;
    height: 100%;

    .footer-body {
      width: 80vw;
      margin: 0 auto;

      .right {
        justify-content: right;
      }

      .left {
        justify-content: left;
        margin-left: auto;
      }

      ul {
        width: 100%;
      }
      li {
        list-style: none;
        a {
          text-decoration: none;
        }
      }
    }
  }
  .copyright {
    max-width: 100%;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
  }
}
