header {
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.header-body {
      padding: 0.5rem 0;
    }

    li {
      list-style: none;
      a {
        color: #353535;
        text-decoration: none;
      }
      .serch_column {
        opacity: 0.5;
        width: 200px;
      }

      .header__rank {
        fill: #FFBF85;
      }

      .header__bell {
        position: relative;

        &--color {
          fill: #FFBF85;
          stroke: #FFBF85;

          &.checked {
            fill: #C4C4C4;
            stroke: #C4C4C4;
          }
        }

        &:after {
          content: '●';
          font-size: 10px;
          position: absolute;
          right: 2px;
          top: 2px;
          color: red;
        }

        &.checked {
          &:after {
            content: none;
          }
        }
      }
    }
  }
  .dropdown-content {
    width: 240px !important;
  }
  .text-monospace img {
    width: 155px;
  }
}

#humburger-menu {
  cursor: pointer;
}

.header-logo {
  width: 100px;

  img:hover {
    transition-duration: .4s;
    transform: scale(1.1);
  }
}

/*　上に上がる動き　*/

#header.UpMove{
  animation: UpAnime 0.5s forwards;
  }
  
  @keyframes UpAnime{
    from {
      opacity: 1;
  transform: translateY(0);
    }
    to {
      opacity: 0;
  transform: translateY(-100px);
    }
  }
  
  /*　下に下がる動き　*/
  
  #header.DownMove{
  animation: DownAnime 0.5s forwards;
  }
  @keyframes DownAnime{
    from {
    opacity: 0;
  transform: translateY(-100px);
    }
    to {
    opacity: 1;
  transform: translateY(0);
    }
  }