.help-tip {
  position: relative;
  background-color: #E3E4E8;
  padding: 3px 7px;
  border-radius: 50%;
  margin-left: 0.5rem;

  &:hover {
    transition-duration: .4s;
    transform: scale(1.05);
    @media screen and (max-width: 768px) {
      transform: scale(1);
    }

    &::before {
      position: absolute;
      padding: 4px 8px;
      text-align: center;
      border: 1px solid #FFBF85;
      border-radius: 0.5rem;
      font-size: 13px;
      top: -8px;
      left: 50%;
      transform: translateX(-50%) translateY(-100%);
      color: #000;
      background-color: #fff;
    }

    &.product-url::before {
      content: "プロダクトとして承認されるとログインなしでサイトが閲覧可能になります。";
      width: 260px;
    }

    &.cooperation-guide::before {
      content: "参加開発者のリストが作れ、アイデアがより注目されます";
      width: 190px;
    }

    &.tags::before {
      content: "タグを付けると検索されやすくなります。文字を入力後Enterを押して登録できます";
      width: 270px;
    }

    &.twitter-id::before {
      content: "ID登録で公式Twitterアカウントからメンションを受けられます";
      width: 210px;
    }
  }
}
