.like-click {
  :hover {
    transition-duration: .3s;
    transform: scale(1.05);
  }
}

.likes-column {
  margin: 1rem 0.5rem 0;
  max-width: 70px;
  width: 100%;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, .2);
  transition-duration: .3s;

  :hover {
    pointer-events: none;
  }

  .likes-count {
    color: #333;
    pointer-events: none;
  }
}

.clicked {
  .like-svg {
    background: -moz-radial-gradient(#f91880  10%, #FAC8DF 40%, #FFF);
    background: -webkit-radial-gradient(#f91880  10%, #FAC8DF 40%, #FFF);
    background: radial-gradient(#f91880  10%, #FAC8DF 40%, #FFF);
    border-radius: 50%;
    padding: 6px 6px 0 0;
    pointer-events: none;
  }
}

