.pages{
  padding: 1rem;

  h3 {
    margin: 2rem 0 1rem;
  }

  .page-contain {
    background-color: #f7f9fa;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
  }

  p {
    margin: 1rem 0;
  }
}
