.user-colum-board {
  background-color: white;
}

.user-column {
  display: flex;
  margin: 1rem 0;
  height: 100px;

  .user-column-body {
    padding: 0 0.5rem 0.5rem 0.5rem;
  }

  .user-status {
    display: flex;
  }
}

.icon-circle {
  object-fit: contain;
  border-radius: 50%;
  background-color: white;

  &.small {
    width: 40px;
    height: 40px;
    padding: 0.5rem;
  }

  &.normal {
    width: 60px;
    height: 60px;
  }

  &.middle {
    width: 100px;
    height: 100px;
    padding: 0.8rem;
  }

  &.large {
    width: 200px;
    height: 200px;
  }
}
