.user-colum-board {
  background-color: white;
  width: 100%;
}

.user-column {
  display: flex;
  margin: 1rem 0;
  height: 110px;

  .user-column-body {
    padding: 0 0.5rem 0.5rem 0.5rem;
    width: 100%;
  }

  .user-name-point {
    display: flex;
    justify-content: space-between;
  }

  .user-point {
    margin: 0.5rem 0;
    font-size: large;
  }
}

.icon-circle {
  object-fit: cover;
  border-radius: 50%;
  background-color: white;

  &.small {
    width: 30px;
    height: 30px;
  }

  &.normal {
    width: 60px;
    height: 60px;
  }

  &.middle {
    width: 100px;
    height: 100px;
    padding: 0.8rem;
  }

  &.large {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
}
