.user-colum-board {
  background-color: white;
  width: 95%;
  margin: 0 auto;

  .row {
    transition: all 0.3s;

    :hover {
      opacity: 0.8;
    }
  }
}

.user-column {
  margin: 1rem 0;
  height: 100%;

  .user-column-body {
    padding: 0 0.5rem 1rem 0.5rem;
    width: 90%;
  }

  .user-name-point {
    display: flex;
    justify-content: space-between;
  }

  .user-name {
    font-size: large;
    margin-top: 0.5rem;
  }

  .user-point {
    font-size: large;
    margin: auto 0;
  }
}

.icon-circle {
  object-fit: cover;
  border-radius: 3%;
  background-color: white;
  transition: all 0.3s ease 0s;

  &.smaller {
    width: 20px;
    height: 20px;
  }

  &.small {
    width: 35px;
    height: 35px;

    &:hover {
      opacity: 0.6;
    }
  }

  &.normal {
    width: 60px;
    height: 60px;
  }

  &.middle {
    width: 90px;
    height: 90px;
    padding: 0.8rem;
  }

  &.large {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
}
